/* Page header */
.div-header {
  margin: 10px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: rgb(161, 201, 178);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Canvas for drawing */
#canvas {
  background-color: black;
  margin: 10px;
  margin-top: 0px;
  padding: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Page footer */
.div-footer {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  background-color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 10px;
}

/* Button */
.button {
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  float: none;
}

/* Blue button */
.button-blue {
  background-color: #008CBA;
}

.button-blue:hover {
  background-color: #40add1;
}

.input-hidden {
  display: none;
}

/* Message box background */
.messagebox {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  font-family: Arial;
  font-size: 20px;
}

/* Message box content */
.messagebox-content {
  position: relative;
  background-color: #f0f0f0;
  margin: auto;
  padding: 0;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: messagebox-animation;
  -webkit-animation-duration: 0.4s;
  animation-name: messagebox-animation;
  animation-duration: 0.4s;
  border-radius: 12px;
}

/* Message box animation */
@-webkit-keyframes messagebox-animation {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes messagebox-animation {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* Message box close button */
.messagebox-close {
  color: white;
  float: right;
  font-size: 32px;
  font-weight: bold;
}

.messagebox-close:hover,
.messagebox-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Message box header */
.messagebox-header {
  padding: 2px 16px;
  background-color:  #5ca4b8;
  color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-size: 16px;
}

/* Message box body */
.messagebox-body {
  padding: 2px 16px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}